<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986319244984-h360he2ibjijnpg8asceodsa7af1gqgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986319244984-h360he2ibjijnpg8asceodsa7af1gqgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDK-3kVRp2n7QsPqM6Q014e5roJzNpv3a4</string>
	<key>GCM_SENDER_ID</key>
	<string>986319244984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slt.Slothies</string>
	<key>PROJECT_ID</key>
	<string>slothies-a843d</string>
	<key>STORAGE_BUCKET</key>
	<string>slothies-a843d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986319244984:ios:c3d479af4b3ed398</string>
	<key>DATABASE_URL</key>
	<string>https://slothies-a843d.firebaseio.com</string>
</dict>
</plist>